mbeddr_proposal.aux
mbeddr_proposal.log
mbeddr_proposal.pdf
mbeddr_proposal.synctex.gz
mbeddr_proposal.bbl
mbeddr_proposal.blg
/mbeddr_proposal_reduced.pdf
/mbeddr_proposal_reduced.synctex.gz
/reduced_to_6months
